@inherits SlideBase

<h1>WebAssembly - Runtime Advantages</h1>
<hr />
<h1>Bidirectional interoperability with js</h1>
<h1>Executes in the browser’s security sandbox</h1>
<h1>No runtime code interpretation</h1>
