@inherits SlideBase

<h1>WebAssembly - Limitations</h1>
<ul class="bullet-points">
    <li>Interop with javascript required for:</li>
    <ul>
        <li>DOM access</li>
        <li>Browser APIs (e.g. Canvas, SVG, WebGI, History, etc.)</li>
    </ul>
    <li>Does not support instructions to OS / hardware </li>
</ul>
