@inherits SlideBase

<h1>WebAssembly - Limitations</h1>
<hr />
<h1>Interop with javascript required for:</h1>
<h1>DOM access</h1>
<h1>Browser APIs e.g. Canvas, SVG, WebGI, History, etc.	</h1>
<h1>Does not support instructions to OS / hardware </h1>
