@inherits SlideBase

<h1>Server side continues with ASP.NET Core</h1>
<h1>JavaScript not required, but available when needed</h1>
<h1>Similarities to JS frameworks e.g., React, Angular</h1>

@code {

}
