@inherits SlideBase

<h1>Some Advantages</h1>
<hr />
<h1>Can eliminate need for JS / related build tooling</h1>
<h1>Reuse e.g. C# types common to server and UI</h1>
<h1>Use of existing .NET packages – client and server</h1>
<h1>Less expansive skill set required</h1>

@code {

}
