@inherits SlideBase

<div style="text-align: center">
  <h1>A development framework for the browser side of a web application</h1>
  <ul style="text-align: left">
      <li>HTML generated from Razor code</li>
      <li>CSS for styling</li>
      <li>C# for front-end logic – Code reuse!</li>
      <li>Component oriented</li>
  </ul>
</div>
