<h1>Blazor Resources</h1> 

<div>
    <ul>
        <li><a href="https://github.com/Milliman-InnerSource/milliman-design-system-blazor" target="_blank">Milliman Design System - Blazor Component Library</a></li>
        <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor - Official Microsoft Docs</a></li>
        <li><a href="https://docs.microsoft.com/en-us/learn/browse/?expanded=dotnet%2Cazure%2Csurface&products=dotnet%2Cwindows&roles=developer&terms=blazor" target="_blank">Blazor Microsoft Learn Courses</a></li>
        <li><a href="https://blazor-university.com/" target="_blank">Blazor University</a></li>
        <li><a href="https://github.com/AdrienTorris/awesome-blazor" target="_blank">Awesome Blazor</a></li>
        <li><a href="https://github.com/bUnit-dev/bUnit" target="_blank">BUnit</a></li>
    </ul>
</div>
