<h1 style="width: 75%; text-align: center">No distinct number types. All numbers are <span style="color: darkred">64-bit floating point.</span></h1>
<h2 class="code code-block">
  <span class="terminal-arrow">></span> var a = 5;<br />
  <span class="terminal-arrow">></span> a += 5;<br />
  <span class="terminal-arrow">></span> a <br />
  <span class="terminal-arrow">&lt;</span> <span class="code-result">10</span>
</h2>
<h1>Sometimes floating point arithmetic is unreliable.</h1>
<h2 class="code code-block">
  <span class="terminal-arrow">></span> var b = 0.7; <br />
  <span class="terminal-arrow">></span> b += 0.1; <br />
  <span class="terminal-arrow">></span> b <br />
  <span class="terminal-arrow">&lt;</span> <span class="code-result">0.7999999999999999</span>
</h2>