@inherits SlideBase

<div style="text-align: center">
  <h1>Are you capable of writing this code yourself?</h1>
  <h1 class=@ShowSlide(1)><i class="code">Should you have to </i> write this code yourself?</h1>
</div>


@code {
    public override int SlideIndexMax { get; set; } = 1;
}
