@inherits SlideBase

<h2 class="title-secondary" style="font-size: clamp(2vw, 6.2vw, 3.4rem)">Can I Contribute?</h2>

<img class=@ShowSlide(1) src="/images/HelpWanted.gif" alt="Volunteers Needed" />

@code {
    public override int SlideIndexMax { get; set; } = 1;
}